@font-face {
  font-family: 'GothamProBold';
  src: url('GothamProBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamProRegular';
  src: url('GothamProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
