@font-face {
  font-family: 'GothamProBold';
  src: url('fonts/GothamProBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamProRegular';
  src: url('fonts/GothamProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
